:root {
    --primary-color: #d5ff9a;
    --secondary-color: #65a30d;
    --bg-color: #011c0c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    transition-duration: 200ms;
    scroll-behavior: smooth;
}

body {
    background: var(--bg-color);
    color: var(--primary-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 36px;
    padding: 14px;
}

.darkerText {
    color: var(--secondary-color);
}

header,
main,
footer {
    max-width: 700px;
    margin: 0 auto;
    width: 100%;
}

p, a {
    font-size: 1rem;
}

h1{
    color: var(--primary-color);
    font-size: 36px;
}

header {
    display: flex;
    flex-direction: column;
    gap: 64px;
}

nav {
    color: var(--secondary-color);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

nav a {
    font-size: 1rem;
}

nav a, header a, .content a{
    cursor: pointer;
    text-decoration: none;
    
}


nav a:hover, header a:hover, .content a:hover {
    opacity: 0.7;
}

.titleBlock {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    padding: 1.75rem;
    padding-left: 5rem;
    padding-right: 5rem;
    border: solid var(--primary-color);
    border-width: 2px;
}

.titleBlock h1 {
    font-size: 48px;
}

main,
section {
    display: flex;
    flex-direction: column;
}

main {
    gap: 64px;
    padding-bottom: 64px;
}

section {
    gap: 48px;
}

.statsContainer {
    display: flex;
    gap: 24px;
    margin: auto;
}

.stats {
    display: flex;
    align-items: center;
    gap: 14px;
}

.stats>div {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 8px;
}

.stats div i {
    font-size: 1.4em;
}

.stats div div {
    display: grid;
    place-items: center;
    min-width: 40px;
}

.aboutMe {
    line-height: 1.5em;
}

.projectContainer {
   display: flex; 
   flex-direction: column;
   gap: 32px;
}

.headertext {
    margin-bottom: 24px;
}

.projectItem {
    display: flex;
    align-items: stretch;
    gap: 24px;
}

.projectItem div:first-child {
    display: flex;
    flex-direction: column;
    gap: 14px;
    flex: 1;
}
 
.projectItem > div:last-child {
    aspect-ratio: 16/9;
    max-width: 30%;
    overflow: hidden;
    border-radius: 8px;
}

.projectItem > div:last-child img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.linkContainer {
    display: flex;
    align-items: center;
    gap: 24px;
}

.linkItem {
    display: flex;
    flex-direction: row !important;
    align-items: center;
    gap: 14px !important;
    color: var(--primary-color);
    text-decoration: none;
    cursor: pointer;
}

.linkItem:hover {
    opacity: 0.7;
}

.linkItem p {
    font-size: 0.9em;
}

footer {
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 0.5rem;
}
footer p {
    display: flex;
    align-items: center;
    margin: auto;
    font-size: 15px;
}

.icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    gap: 20px;
    cursor: pointer;
}

.icons a {
    text-decoration: none;
    color: var(--secondary-color);
}

.icons a:hover {
    color: var(--primary-color);
}


@media (min-width: 640px) {
    .statsContainer {
        flex-direction: row;
    }

    .stats {
        gap: 0px;
    }

    .aboutMe {
        width: 80%;
        margin-right: auto;
    }
}