:root {
    --primary-color: #373737;
    --secondary-color: #78787a;
    --bg-color: #fafaf9;
    --content-color:#e7e5e4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    transition-duration: 200ms;
    scroll-behavior: smooth;
}

body {
    background: var(--bg-color);
    color: var(--primary-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 36px;
    padding: 14px;
}

.darkerText {
    color: var(--secondary-color);
}

header,
main,
footer {
    max-width: 700px;
    margin: 0 auto;
    width: 100%;
}

p, a {
    font-size: 1rem;
}

h1{
    color: var(--primary-color);
    font-size: 36px;
}

header {
    display: flex;
    flex-direction: column;
    gap: 64px;
}

nav {
    color: var(--secondary-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.pages, .socialLinks {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

nav a {
    font-size: 1rem;
}

nav a, header a, .content a{
    cursor: pointer;
    text-decoration: none;
    
}


nav a:hover, header a:hover, .content a:hover {
    opacity: 0.7;
}

.titleBlock {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    padding: 1.75rem;
    border: solid var(--primary-color);
    border-width: 2px;
}

.titleBlock h1 {
    font-size: 48px;
}

